body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f8fc;
    color: #0f0e0f;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.3);
    padding: 20px;
  }
  
  h1, h2 {
    text-align: center;
    color: #45052d;
  }
  
  form label {
    display: block;
    margin-top: 15px;
    color: #a92275;
  }
  
  form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  form button {
    background-color: #390230;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
  }
  
  form button:hover {
    background-color: #43035a;
  }
  
  .hidden {
    display: none;
  }
  
  #profile {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .profile-details {
    text-align: center;
  }
  
  .profile-details img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    margin-top: 20px;
  }
  